body{
    background-color:green;
    color:white;
}
a:hover{color:yellow;}
img{
height: 25px;
width: 25px;
border-radius: 100%;
float: center;
margin: 0px;
}
.text-with-lines{
    height: 10px;
    width: 0.1px;
    margin-right: 0px;
    background-color: black;
    display: inline-block;
}
span{
    text-decoration: aqua;
    display: flex;
}
.wrap{
    display:inline-block;
    text-align: left;
}
h1{
    marquee: scroll;
    color: aqua;
}